<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('bundles/css/script.css') }}" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('/bundles/js/script.js') }}"></script>
    <script src="{{ asset('/bundles/css/script.css') }}"></script>
</head>
<body>

<div class="container">
        {{ form_start(form) }}
    <div class="col-md-2 filter">
        {{ form_widget(form.category) }}
    </div>
    <div class="col-md-1 filter save">
        {{ form_widget(form.save) }}
    </div>
        {{ form_end(form) }}
    <div class="col-md-9 data-show">
        <h2>Table</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>productName</th>
                <th>brand</th>
                <th>productMaterial</th>
                <th>basePrice</th>
                <th>imageUrl</th>
                <th>delivery</th>
                <th>details</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product['productName'] }}</td>
                    <td>{{ product['brand'] }}</td>
                    <td>{{ product['productMaterial'] }}</td>
                    <td>{{ product['basePrice'] }}</td>
                    <td>{{ product['imageUrl'] }}</td>
                    <td>{{ product['delivery'] }}</td>
                    <td>{{ product['details'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
<script>

</script>
</html>
